/* Color Palette */
:root {
    --primary-color: #007bff; /* Blue */
    --secondary-color: #28a745; /* Green */
    --accent-color: #ffc107; /* Yellow */
    --background-color: #f8f9fa; /* Light gray */
}

/* Homepage Container */
.homepage-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
}

/* Navbar */
.navbar {
    display: none;
}

/* Banner */
.banner {
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Temple Grid */
.temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

/* Temple Card */
.temple-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.temple-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temple-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.temple-name {
    text-align: center;
    margin-top: 10px;
}

/* Search Bar */
.search-bar {
    margin-bottom: 20px;
}

/* Quick Access Buttons */
.quick-access {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.quick-access button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
}

.quick-access button:hover {
    background-color: #218838; /* Darker shade of green */
}

/* Link Button */
.link-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link-button:hover {
    background-color: var(--accent-color);
    color: #fff;
}
/* Media query for small screens (e.g., smartphones) */
@media only screen and (min-width: 320px) {
    .temple-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Adjust column count and width as needed */
    }
}

/* Media query for medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) {
    .temple-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Adjust column count and width as needed */
    }
}

/* Media query for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
    .temple-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Adjust column count and width as needed */
    }
}

/* Media query for extra-large screens (e.g., large desktops) */
@media only screen and (min-width: 1200px) {
    .temple-grid {
        grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust column count and width as needed */
    }
}
