/* LiveStreamPage.css */

.live-stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
}

.live-stream-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.live-stream-player {
    width: 100%;
    max-width: 500px;
    height: 257px;
}
/* LiveStreamPage.css */

/* Container for the live stream and full-screen button */
.live-stream-container {
    position: relative;
}

/* Styles for the full-screen button */
.full-screen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.full-screen-button:hover {
    background-color: #0056b3;
}

/* Container for the live stream and full-screen button */
.live-stream-container {
    position: relative;
}

/* Styles for the full-screen button */
.full-screen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.full-screen-button:hover {
    background-color: #0056b3;
}

/* Media Query for Desktop */
@media only screen and (min-width: 768px) {
    .live-stream-player {
        width: 100%; /* Adjust this value as needed */
        max-width: 1100px; /* Adjust this value as needed */
        height: 600px; /* Adjust this value as needed */
    }
}

/* Media Query for Mobile */
@media only screen and (max-width: 767px) {
    .live-stream-player {
        width: 90%; /* Adjust this value as needed */
        max-width: 400px; /* Adjust this value as needed */
        height: 210px; /* Adjust this value as needed */
    }
    .full-screen-button {
        top: auto;
        bottom: 440px;
        justify-content: center;
        left: 200px;
        width: 130px;
    }
}
